<section class="section summary-section text-justify">
	<h2 class="section-title">Developer and Fun Addict</h2>
	<div class="summary">
	    <p>
			Passionate about development since I was a little boy, I am actually software engineer in Thales since <span id="nbMonth"></span> months. I keep my knowledge up to date.
		</p>
	</div><!--//summary-->
</section><!--//section-->