<section class="section educations-section text-justify">
    <h2 class="section-title">Educations</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master of Science in Information and Communication Sciences</h3>
                <div class="time">2016 - 2018</div>
            </div><!--//upper-row-->
            <div class="company">ETNA - IONIS Group</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Bachelor's Degree in IT Development</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">ETNA - IONIS Group</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Higher National Diplomas in IT and Network</h3>
                <div class="time">2012 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">University Institute of Technology of Amiens</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->