<section class="section experiences-section text-justify">
    <h2 class="section-title">Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2019 - Currently</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.thalesgroup.com/en" target="_blank">THALES</a> - Élancourt (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Thales is an electronics group specializing in aerospace, defense, security and ground transportation.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2019 - Currently</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.cerebris.fr/" target="_blank">CEREBRIS</a> - Boulogne-Billancourt (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Cerebris aims to put the brain back into the center of working.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Developer Backend</h3>
                <div class="time">2015 - 2018</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.castelis.com/" target="_blank">CASTELIS</a> - Ivry-sur-Seine (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Castelis specializes in web development of digital solutions and customized information systems.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">IT Technician</h3>
                <div class="time">2012 - 2012</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.saint-gobain.com/en" target="_blank">SAINT-GOBAIN</a> - Thourotte (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Saint-Gobain is the world leader in housing, designing, producing and distributing construction and high performance materials.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Electronic technician</h3>
                <div class="time">2011 - 2011</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.thalesgroup.com/en" target="_blank">THALES</a> - Fleury-les-Aubrais (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Thales is an electronics group specializing in aerospace, defense, security and ground transportation.
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->