<div class="interests-container container-block">
<h2 class="container-block-title">My passions</h2>
<ul class="list-unstyled interests-list">
<li>Judo</li>
<li>Sport</li>
<li>Maker</li>
</ul>
</div><!--//interests-->
