<section class="section projects-section text-justify">
    <h2 class="section-title">My Personnals Projects</h2>
    <div class="intro">
        <p>
            I like to try new things. This led me to launch my own ideas. Let me present you my last:
        </p>
    </div><!--//intro-->

    <div class="item">
        <a href="http://www.virtualskin-vr.com" target="_blank">
            <img src="{{site.baseurl}}/assets/cv/images/virtualskin-vr.jpg" alt="VirtualSkin" class="project-img img-responsive">
        </a>
        <span class="project-title"><a href="http://www.virtualskin-vr.com" target="_blank">VirtualSkin</a></span> - <span class="project-tagline">
            Discover our modular solution to add depth to how you feel the virtual reality.
        </span>
        <div class="project-detail">
            <p>
                My role in the project was to manage the informations that comes from the virtual environment, to process it and to transmit it to the person physically.
            </p>
        </div><!--//project-detail-->
    </div><!--//item-->
</section><!--//section-->
