<header class="header">
    <div class="text-center">
        {% if site.cv %}
        <small><a href="{{site.baseurl}}/en/{{site.baseurl}}">Download my resume</a></small> &nbsp; <i class="fa fa-download"></i>
        &nbsp; - &nbsp;
        {% endif %}
        <small><a href="{{site.baseurl}}/">Version française</a></small> &nbsp;
    </div>
</header>
