<section class="section summary-section text-justify">
	<h2 class="section-title">Développeur - Fun addict</h2>
	<div class="summary">
	    <p>
			<strong> Développeur </strong> au sein de la société THALES depuis <span id="nbMonth">0</span> mois, j’aime être force de proposition et travailler sur des projets hors du commun. Passionné depuis toujours par le développement, je recherche quotidienement à devenir un expert dans le domaine du développement industriel.
		</p>
	</div><!--//summary-->
</section><!--//section-->