<section class="section educations-section text-justify">
    <h2 class="section-title">Études</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master développeur - architecte logiciel</h3>
                <div class="time">2016 - 2018</div>
            </div><!--//upper-row-->
            <div class="company">ETNA - IONIS Groupe</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Licence développeur - architecte logiciel</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">ETNA - IONIS Groupe</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">DUT - Informatique et Réseau</h3>
                <div class="time">2012 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">Institut Universitaire de Technologie d'Amiens</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->