<section class="section experiences-section text-justify">
    <h2 class="section-title">Expériences professionnelles</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Ingénieur d'étude</h3>
                <div class="time">2019 - Aujourd'hui</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.thalesgroup.com/fr" target="_blank">THALES</a> - Élancourt</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                En mission pour Cerebris chez Thales qui est un groupe d'électronique spécialisé dans l'aérospatiale, la défense, la sécurité et le transport terrestre.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Ingénieur d'étude</h3>
                <div class="time">2019 - Aujourd'hui</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.cerebris.fr/" target="_blank">CEREBRIS</a> - Boulogne-Billancourt</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Cerebris a pour ambition de remettre le cerveau au cœur du consulting.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur</h3>
                <div class="time">2016 - 2018</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.castelis.com/" target="_blank">CASTELIS</a> - Ivry-sur-Seine</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Castelis est spécialisée dans le développement web de solutions digitales et de systèmes d'informations sur mesure.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technicien SI</h3>
                <div class="time">2012 - 2012</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.saint-gobain.com/fr" target="_blank">SAINT-GOBAIN</a> - Thourotte</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Saint-Gobain est le leader mondial de l'habitat, conçoit, produit et distribue des matériaux de construction et de haute performance.
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technicien électronique</h3>
                <div class="time">2011 - 2011</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.thalesgroup.com/fr" target="_blank">THALES</a> - Fleury-les-Aubrais</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Thales est un groupe d'électronique spécialisé dans l'aérospatiale, la défense, la sécurité et le transport terrestre.
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->