<div class="interests-container container-block">
    <h2 class="container-block-title">Mes passions</h2>
    <ul class="list-unstyled interests-list">
        <li>Judo</li>
        <li>Sport</li>
        <li>Maker</li>
    </ul>
</div><!--//interests-->


<!--<div class="remove-container container-block">-->
<!--<h2 class="container-block-title">About Theme</h2>-->
<!--<ul class="list-unstyled interests-list">-->
<!--<a href="http://blog.webjeda.com/jekyll-themes/online-cv/"><li>How to use?</li></a>-->
<!--</ul>-->
<!--</div>&lt;!&ndash;//interests&ndash;&gt;-->