<section class="section projects-section text-justify">
    <h2 class="section-title">Projets personnels</h2>
    <div class="intro">
        <p>
            J'adore les nouveaux défis. Laissez-moi vous présenter mon dernière:
        </p>
    </div><!--//intro-->

    <div class="item">
        <a href="http://www.virtualskin-vr.com" target="_blank">
            <img src="{{site.baseurl}}/assets/cv/images/virtualskin-vr.jpg" alt="VirtualSkin" class="project-img img-responsive">
        </a>
        <span class="project-title"><a href="http://www.virtualskin-vr.com" target="_blank">VirtualSkin</a></span> - <span class="project-tagline">
            Une tenue sensorielle pour la réalité virtuel.
        </span>
        <div class="project-detail">
            <p>
                Mon rôle dans ce projet a été de gérer les informations qui proviennent de l'environnement virtuel, de les traiter et de les transmettre vers la personne physiquement
            </p>
        </div><!--//project-detail-->
    </div><!--//item-->
</section><!--//section-->
