    <section class="section skills-section text-justify ">
        <h2 class="section-title"></i>Compétences</h2>
        <div class="skillset">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list">
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> Python 2.7 & 3</h3></li>
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> C & CPP</h3></li>
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> PHP 5 & 7</h3></li>
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> MySQL & Elasticsearch</h3></li>
                    </ul>
                </div>  
                <div class="col-md-6">
                    <ul class="list">
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> Windows & UNIX & MacOs</h3></li>
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> GIT & SVN</h3></li>
                      <li><h3 class="job-title"> <i class="fa fa-circle" aria-hidden="true"></i> Docker</h3></li>
                    </ul>
                </div>  
            </div>  
        </div>  
    </section><!--//skills-section-->