<header class="header">
    <div class="text-center">
        {% if site.cv %}
        <small><a href="{{site.baseurl}}/{{site.cv}}">Télécharger mon cv</a></small> &nbsp; <i class="fa fa-download"></i>
        &nbsp; - &nbsp;
        {% endif %}
        <small><a href="{{site.baseurl}}/en">English version</a></small> &nbsp;
    </div>
</header>